#input-container {
    display: flex;
    width: devicewidth;
    margin-top: 2rem;
    padding: 20px;
    background-color: #10ad5e;
    color: white;
    gap: 10px;
}

.variable-input, .unit-input {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.unit-input {
    width: 3.5%;
}

#content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
}

#graph-container, #table-container {
    width: 48%;
    background-color: #1f1f1f;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#data-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#data-table th, #data-table td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
    color: white;
}

#add-value-btn, #generate-graph-btn {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #AD105F;
    color: white;
    border: none;
    border-radius: 4px;
}

strong {
    color: white;
}

#chart-container {
    position: relative;
}

#percentages-container {
    position: absolute;
    top: 0;
    right: -150px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}


